/*--------------------------------------------------------------------------------------------
 * calliopesutra.css
 *
 * Copyright 2015 2016 2017 2018 by John Gambini
 *
 ---------------------------------------------------------------------------------------------*/
 @CHARSET "UTF-8";
 
 body {
 	background-color:#4477BA;
 }
 
 
/*---------------- main menu ----------------------*/

.wb-icon-menu::before { background: #BBBBBB; box-shadow: 0 -6px #BBBBBB, 0 -12px #BBBBBB; }
.wb-icon-menu:hover::before { background: #EEEEEE; box-shadow: 0 -6px #EEEEEE, 0 -12px #EEEEEE; }
.icon-circle-down::before { color: #BBBBBB; font-size:14pt; vertical-align: -4px; }
.icon-circle-down:hover::before { color: #EEEEEE; }
.icon-point-up::before { color: #999999; font-size: 14pt; vertical-align: 4px; }
.icon-point-up:hover::before { color: #000000; }
.icon-arrow-up2::before { color: #888888; font-size: 14pt; vertical-align: -2px; }
.icon-arrow-up2:hover::before { color: #000000; }
 
.menuHighlightItem {
	color:#CCEEFF;
	text-decoration:none;
} 

.menuHighlightItem:hover {
	color:#CCEEFF;
	text-decoration:underline;
} 

a.linkItem {
	color:#DDEEFF;
} 

a.linkItem:hover {
	color:#DDEEFF;
} 
 
 /*--------------------- CSS for main page sections ------------------*/
.sidebarContainer{
	background-color:#446799;
	color:#EEEEEE;
}

 .contentContainer {
	background-color:#446799;
	color:#EEEEEE;
 }
 
 
 .topMenu {
	display:flex;
	align-items:center;
 	position:fixed;
 	top:0;
 	background-color:transparent;
 	color:white;
 	width:100%;
 	margin:0em auto;
 	height:3.50em;
 	z-index:1;
 }
 
 .mainmenu {
	display:flex;
	align-items:center;
	position:fixed;
	top: -2.5em;
	left: 0px;
	width: 100%;
	height: 3.50em;
	z-index:1;
	background-color:black;
	box-shadow: 0px 2px 12px #888888;
	transition: top 0.5s;
}

.contentMenu {
	background-color:transparent;
}

#mainmenuItem1 { flex:1 1 10%; }
#mainmenuItem2 { flex:1 1 0% }
#mainmenuItem3 { flex:1 1 70% }
#mainmenuItem4 { flex:1 1 19% }

@media all and (max-width:760px) { 
	#mainmenuItem1 { flex:1 1 50%; }
	#mainmenuItem3 { flex:1 1 0%; }
	#mainmenuItem4 { flex:1 1 49.5%; }
}


/*--------------- CSS for specific page types -----------------------*/
.gallery {
}

.parallax {
}

.menuItem {
	text-shadow: 1px 1px black
}

.wb-dialog .menuItem {
	text-shadow: none;
}

.articleTab .menuItem {
	text-shadow: none;
}

.featuredItemMain {
	text-shadow: 1px 1px black
}

.featuredItem {
	text-shadow: 1px 1px black
}

/*-------------- CSS for includes and widgets ---------------------*/

.siteName {
	color:#FFFFFF;
	font-family: times-new-roman;
	font-size: 20pt;	
}

.siteName:hover {
	color:#DDDDEE;
}

#userName {
	color:#DDDDEE;
}

#articleEditLink {
	color:#DDDDEE;
}

#articleEditLink:hover {
	color:#FFFFFF;
}

#rootContentItems {
	display:inline-block;
}

@media all and (max-width:699px) {
	#siteName {
		display:inline-block;
	}
	
	#userName {
		display:none;
	}
	
	#rootContentItems {
		display:none;
	}
	
}

/*-----------------------------------------------------------------
 * CSS for article blocks
 */

.article {
	background-color: white;
	color: #000000;
	text-shadow: 0px 0px #000000;
	border:1px solid #990000;
}

.firstCharacter:first-letter {
	color:#DD2266;
	text-shadow:1px 1px black;
}

/*------------- css for dialogs and scroll table widget --------------*/

#popupLanguages {
	display:block;
}

#popupHr {
	display:block;
}

@media all and (max-width:699px) {
	#popupMainMenu {
		display:none;
	}
}